body{
    background-color: #545454;
}
#p1{
    color: tomato; 
}
#p2{
    color: rgb(102, 222, 255)/*rgb values*/
}
#p3{
    color: #59ff5f;/*hexadecimal*/
}
#p4{
    color: hsl(281, 100%, 61%);/*hsl value*/
}