body{
    margin: 5px;
}

.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}
#box1{
    background-color: hsl(0, 64%, 43%);
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 500px;
}
#box2{
    margin: auto;
    background-color: hsl(246, 64%, 43%);
}