*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    background-color: hsl(0, 0%, 85%);
    text-align: center;
    padding: 25px;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 24%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #27a127;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navbar li{
    float: right;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 85%);
    text-align: center;
    padding: 25px;
}

@media screen  and (max-width:600px) {
    aside, section, article{
        width: 100%;
    }
}